{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.date) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.sellCurrency) }}

    <p class="text-right">
        <button id="swapCurrencies" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Sukeisti valiutą vietomis
        </button>
    </p>

    {{ form_row(form.buyCurrency) }}
    {{ form_widget(form._token) }}

    <div class="form-group">
        <label class="control-label required" for="result">Rezultatas</label>
        <div id="result">
            <span id="money"></span> <span id="currencyCode"></span> <span id="message"></span>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}